astroid==2.12.5
attrs==21.4.0
blessings==1.7
certifi==2020.12.5
chardet==4.0.0
charset-normalizer==2.0.10
cwcwidth==0.1.4
cycler==0.11.0
decorator==4.4.2
dill==0.3.5.1
distlib==0.3.4
filelock==3.4.2
flake8==4.0.1
fonttools==4.29.0
future==0.18.2
idna==2.10
imageio==2.14.1
imageio-ffmpeg==0.4.5
iniconfig==1.1.1
isort==5.10.1
kiwisolver==1.3.2
lazy-object-proxy==1.4.3
loguru==0.6.0
matplotlib==3.5.1
mccabe==0.6.1
moviepy==1.0.3
networkx==2.6.3
numpy==1.22.1
packaging==21.3
Pillow==9.0.0
platformdirs==2.4.1
pluggy==1.0.0
proglog==0.1.9
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pylint==2.15.0
pyparsing==2.4.7
pytest==6.2.5
pytest-env==0.6.2
python-dateutil==2.8.2
python-dotenv==0.21.0
requests==2.27.1
six==1.15.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
tox==3.24.5
tqdm==4.58.0
treelib==1.6.1
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.13.0
wrapt==1.12.1
z2p_schaffjr @ file:///home/schaffj/code/Z2P
zipp==3.4.1
